.title-address {
  background-color: var(--prime-light);
  color: var(--prime-dark);
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1.25vh;
}

.title-address p {
  font-family: var(--font-secondary);
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 0.7em;
}

.title-photo {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent 100%),
    url("../../assets/photo1.jpeg") no-repeat, center;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.title-info {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent 100%),
    url("../../assets/art-deco\ copy.jpg") no-repeat, center;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  background: url("../../assets/about-artdecoborder.png") no-repeat, center;
  background-position: center;
  background-size: contain;
  height: 70%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

.title-body {
  /* border: 2px solid blue; */
  width: 62%;
  text-align: center;
  font-family: var(--font-secondary);
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.35em;
}

.left-title-transition {
  position: absolute;
  opacity: 0;
  height: 25%;
  width: 25%;
  margin-top: 65%;
  margin-right: 30%;
  color: red;
  transition: opacity 1s, margin-top 1s;
  transition-delay: opacity 1s;
}

.coupe-hand {
  background: url("../../assets/coupehand.png") no-repeat, center;
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 25%;
  width: 25%;
  margin-top: 35%;
  margin-right: 30%;
  transform: rotate(-15deg);
  /* transform: translateX(0%); */
  transition: 2s;
  opacity: 0.7;
}

.right-title-transition {
  position: absolute;
  height: 60%;
  width: 30%;
  margin-left: 60%;
  margin-top: 50%;
  opacity: 0;
  transition: opacity 1.5s, margin-top 1.5s;
  transition-delay: opacity 1.5s;
}

.bottle-hands {
  background: url("../../assets/bottlehands.png") no-repeat, center;
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 60%;
  width: 30%;
  margin-left: 60%;
  transform: rotate(10deg);
  opacity: 0.7;
  transition: 2s;
}

.collins-hand {
  background: url("../../assets/collinshand.png") no-repeat, center;
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 50%;
  width: 20%;
  margin-bottom: 25%;
  margin-right: 50%;
  transform: rotate(-25deg);
  opacity: 0.7;
  transition: 2s;
}

@media (max-width: 1200px) {
  .title-text {
    height: 90%;
    width: 50vw;
  }
  .coupe-hand {
    margin-right: 40%;
  }
  .collins-hand {
    display: none;
  }
  .bottle-hands {
    height: 40%;
  }
}

@media (max-width: 800px) {
  .title-text {
    width: 80vw;
  }
  .coupe-hand {
    display: none;
  }
  .bottle-hands {
    display: none;
  }
}

@media (max-width: 600px) {
  .title-text {
    width: 90vw;
  }
  .title-info {
    background-attachment: auto;
  }
}

@media screen and (max-height: 400px) and (max-width: 850px) {
  .title-container {
    overflow-x: hidden;
  }
  .title-address {
    height: 13vh;
  }
  .title-info {
    height: 150vh;
  }
  .title-text {
    height: 80%;
    width: 80vw;
  }
  .title-body {
    width: 30%;
  }
  .coupe-hand {
    display: none;
  }
  .bottle-hands {
    display: none;
  }
}
