* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow: hidden;
  animation: landing-screen 1s forwards;
  animation-delay: 3.5s;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes landing-screen {
  from {
    height: 100vh;
    overflow: hidden;
  }
  to {
    height: 100%;
    overflow: auto;
  }
}

@media (max-width: 600px) {
  body {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }
}

.hidden {
  display: none;
}

:root {
  --white: #c8caca;
  --prime-med: #423944;
  --prime-light: #645766;
  --prime-dark: #0a060a;
  --secondary-med: #bdc5f3;
  --secondary-light: #f0f8ff;
  --secondary-dark: #8c95c0;
  --font-prime: "Baskervville", serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-tertiary: "Open Sans", sans-serif;
}
