* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

.hidden {
  display: none;
}

:root {
  --white: #dce0df;
  --dark-purple: #070011;
  --med-purple: #290235;
  --light-purple: #542b5f;
  --display-med-purple: #a376a5;
  --display-light-purple: #d5a5d6;
  --display-dark-purple: #744a76;
  --dark-gold: #9f8320;
  --med-gold: #d3b250;
  --light-gold: #ffe47f;
}
