.landing {
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  z-index: 1001;
  margin: 0;
  animation: fade-out 1s forwards;
  animation-delay: 3.5s;
}

.logo-header {
  color: white;
  font-family: var(--font-prime);
  font-weight: 400;
  font-style: italic;
  position: absolute;
  animation: fade-in 2s forwards;
  animation-delay: 2s;
  opacity: 0;
  font-size: 2em;
}

.logo-subhead {
  color: white;
  position: absolute;
  margin-top: 25%;
  text-align: center;
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  animation: fade-in 2s forwards;
  animation-delay: 2.25s;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    background-color: black;
    position: fixed;
    z-index: 1001;
  }
  to {
    background-color: transparent;
    position: absolute;
    z-index: 1;
  }
}

@media (max-width: 1400px) {
  .logo-header {
    font-size: 1.5em;
  }

  .logo-subhead {
    font-size: 2.5em;
  }
}

@media (max-width: 1050px) {
  .logo-header {
    font-size: 1.25em;
  }

  .logo-subhead {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .logo-header {
    font-size: 1em;
  }

  .logo-subhead {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .logo-header {
    font-size: 1em;
  }

  .logo-subhead {
    font-size: 2em;
    margin-top: 55%;
  }

  .landing {
    position: absolute;
  }
}

@media (max-width: 400px) {
  .logo-subhead {
    margin-top: 30%;
  }
}

@media screen and (max-height: 400px) and (max-width: 850px) {
  .landing {
    position: absolute;
    border: 1px solid red;
  }
  .logo-subhead {
    margin-top: 15%;
  }
}
